<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="osu.crowd_ml">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".CrowdMLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundDataSend"
            android:process=":datasend"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>
        <provider
            android:name="osu.crowd_ml.MultiprocessPreferences"
            android:authorities="@string/multiprocess_preferences_authority"
            android:exported="false" />
        <provider
            android:name=".firebase.FirebaseProvider"
            android:authorities="osu.crowd_ml.firebase.FirebaseProvider"
            android:process=":datasend"
            android:exported="false"
            android:syncable="false" />
    </application>

</manifest>